@charset "UTF-8";
/* line 17, ../../../../../andrewsolomon/.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../andrewsolomon/.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../andrewsolomon/.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../andrewsolomon/.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../andrewsolomon/.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../andrewsolomon/.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../andrewsolomon/.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../andrewsolomon/.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../andrewsolomon/.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*------------------------------------*\
 *    $CSSWIZARDRY-GRIDS
 *\*------------------------------------ */
/*
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes. */
/*------------------------------------*\
 *    $INTRODUCTION
 *\*------------------------------------ */
/*
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
 * <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
 * `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
 * `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
 * `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
 * `class="grid__item  palm--one-third  desk--five-twelfths"` */
/*------------------------------------*\
 *    $VARIABLES
 *\*------------------------------------ */
/*
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’: */
/*
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them. */
/*
 * Set the spacing between your grid items. */
/*
 * Would you like Sass’ silent classes, or regular CSS classes? */
/*
 * Would you like push and pull classes enabled? */
/*
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371 */
/*
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 *
 * // iphone original     320 / 16 = 20em
 * // palm     480 / 16 = 30em
 * // galaxy s2     480 / 16 = 30em
 * // portable 481 / 16 = 30.0625em
 * // galaxy tab 600 / 16 = 37.5em
 *
 * // iphone4s 640 / 16 = 40em
 * // galaxy s3 720 / 16 = 45em
 * // ipad mini 768 / 16 = 48em
 * // ipad 1&2 768 / 16 = 48em
 * // nexus 7 800 / 16 = 50em
 * // kindle fire hd 800 / 16 = 50em
 *
 * // lap     1024 / 16 = 64em
 * // kindle fire hd 1200 / 16 = 75em
 * // mb 13" 1280 / 16 = 80em
 * // mb 15" 1440 / 16 = 90em
 * // ipad 3&4 1536 / 16 = 96em
 *
 * // desk
 * // mb 15" hires 1680 / 16 = 105em
 * // mb 17" hires 1920 / 16 = 120em
 *
 * // giant
 * // mb 13" retina 2560 / 16 = 160em
 * // mb 15" retina 2880 / 16 = 180em */
/*
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’. */
/*
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’! */
/*------------------------------------*\
 *    $MIXINS
 *\*------------------------------------ */
/*
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`. */
/*
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors. */
/*------------------------------------*\
 *    $GRID SETUP
 *\*------------------------------------ */
/*
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters. */
/* line 185, ../../html/sass/_grids.sass */
.homepage {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: 0px;
  /* [3] */
}

/*
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters. */
/*
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. */
/*
 * Gutterless grids have all the properties of regular grids, minus any spacing. */
/*
 * Align the entire grid to the right. */
/*
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. */
/*------------------------------------*\
 *    $WIDTHS
 *\*------------------------------------ */
/*
 * Create our width classes, prefixed by the specified namespace. */
/*
 * Our regular, non-responsive width classes. */
/*
 * Whole */
/* line 273, ../../html/sass/_grids.sass */
.homepage, .mod {
  width: 100%;
}

/*
 * Halves */
/*
 * Thirds */
/*
 * Quarters */
/*
 * Fifths */
/*
 * Sixths */
/*
 * Eighths */
/*
 * Tenths */
/*
 * Twelfths */
/*
 * Our responsive classes, if we have enabled them. */
@media only screen and (max-width: 37.5em) {
  /*
   * Whole */
  /*
   * Halves */
  /*
   * Thirds */
  /*
   * Quarters */
  /*
   * Fifths */
  /*
   * Sixths */
  /*
   * Eighths */
  /*
   * Tenths */
  /*
   * Twelfths */
}
@media only screen and (min-width: 64em) {
  /*
   * Whole */
  /*
   * Halves */
  /*
   * Thirds */
  /*
   * Quarters */
  /*
   * Fifths */
  /*
   * Sixths */
  /*
   * Eighths */
  /*
   * Tenths */
  /*
   * Twelfths */
}
@media only screen and (min-width: 37.5em) {
  /*
   * Whole */
  /*
   * Halves */
  /*
   * Thirds */
  /*
   * Quarters */
  /*
   * Fifths */
  /*
   * Sixths */
  /*
   * Eighths */
  /*
   * Tenths */
  /*
   * Twelfths */
}
@media only screen and (min-width: 96em) {
  /*
   * Whole */
  /*
   * Halves */
  /*
   * Thirds */
  /*
   * Quarters */
  /*
   * Fifths */
  /*
   * Sixths */
  /*
   * Eighths */
  /*
   * Tenths */
  /*
   * Twelfths */
}
/*------------------------------------*\
 *    $PUSH
 *\*------------------------------------ */
/*
 * Push classes, to move grid items over to the right by certain amounts. */
/*
 * Not a particularly great selector, but the DRYest way to do things. */
/* line 525, ../../html/sass/_grids.sass */
[class*="push--"] {
  position: relative;
}

/*
 * Whole */
/*
 * Halves */
/*
 * Thirds */
/*
 * Quarters */
/*
 * Fifths */
/*
 * Sixths */
/*
 * Eighths */
/*
 * Tenths */
/*
 * Twelfths */
@media only screen and (max-width: 37.5em) {
  /*
   * Whole */
  /*
   * Halves */
  /*
   * Thirds */
  /*
   * Quarters */
  /*
   * Fifths */
  /*
   * Sixths */
  /*
   * Eighths */
  /*
   * Tenths */
  /*
   * Twelfths */
}
@media only screen and (min-width: 64em) {
  /*
   * Whole */
  /*
   * Halves */
  /*
   * Thirds */
  /*
   * Quarters */
  /*
   * Fifths */
  /*
   * Sixths */
  /*
   * Eighths */
  /*
   * Tenths */
  /*
   * Twelfths */
}
@media only screen and (min-width: 37.5em) {
  /*
   * Whole */
  /*
   * Halves */
  /*
   * Thirds */
  /*
   * Quarters */
  /*
   * Fifths */
  /*
   * Sixths */
  /*
   * Eighths */
  /*
   * Tenths */
  /*
   * Twelfths */
}
@media only screen and (min-width: 96em) {
  /*
   * Whole */
  /*
   * Halves */
  /*
   * Thirds */
  /*
   * Quarters */
  /*
   * Fifths */
  /*
   * Sixths */
  /*
   * Eighths */
  /*
   * Tenths */
  /*
   * Twelfths */
}
/*------------------------------------*\
 *    $PULL
 *\*------------------------------------ */
/*
 * Pull classes, to move grid items back to the left by certain amounts. */
/* line 5, ../../html/sass/main.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 61, ../../../../../andrewsolomon/.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../andrewsolomon/.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 33, ../../html/sass/main.sass */
.mod__title {
  font-size: 1.5em;
  letter-spacing: 0.15em;
  display: table-cell;
  vertical-align: middle;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

/* line 42, ../../html/sass/main.sass */
body {
  font-family: "Apercu";
}

/* line 45, ../../html/sass/main.sass */
.homepage {
  margin: 0 auto;
}
@media (min-width: 30em) {
  /* line 45, ../../html/sass/main.sass */
  .homepage {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media (min-width: 64em) {
  /* line 45, ../../html/sass/main.sass */
  .homepage {
    width: 64em;
  }
}
@media (min-width: 96em) {
  /* line 45, ../../html/sass/main.sass */
  .homepage {
    width: 80em;
  }
}
@media (min-width: 120em) {
  /* line 45, ../../html/sass/main.sass */
  .homepage {
    width: 105em;
  }
}

/* line 59, ../../html/sass/main.sass */
.mod {
  position: relative;
  background-color: #949690;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 1.4375em;
  padding-bottom: 0;
  border-color: white;
  display: table;
}
/* line 68, ../../html/sass/main.sass */
.mod:nth-child(even) {
  background-color: #a7a9a2;
}

/* line 74, ../../html/sass/main.sass */
.mod1__image {
  position: absolute;
  z-index: 1;
}

/* line 78, ../../html/sass/main.sass */
.mod1__video {
  padding: 1.5em;
}

/* line 81, ../../html/sass/main.sass */
.mod--hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 84, ../../html/sass/main.sass */
.img {
  max-width: 100%;
  height: auto !important;
}

/* line 88, ../../html/sass/main.sass */
.fitvid {
  height: 100%;
}

/* line 91, ../../html/sass/main.sass */
.video-overlay {
  background: black;
  z-index: 0;
}

/* line 95, ../../html/sass/main.sass */
.image-overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
