@import compass/reset
@import compass
@import grids

*
  +box-sizing(border-box)

// convert pixels to ems
@function em($pixels, $context: $base-font-size)
  @return #{$pixels / $context}em

$base-font-size: 16px
$base-line-height: 24px
+establish-baseline

=breakpoint($point)
  @if $point == giant
    @media (min-width: 120em)
      @content
  @else if $point == desk
    @media (min-width: 96em)
      @content
  @else if $point == lap
    @media (min-width: 64em)
      @content
  @else if $point == portable
    @media (min-width: 30em)
      @content
  @else if $point == palm
    @media (max-width: 30em)
      @content

%vertical--center
  font-size: 1.5em
  letter-spacing: .15em
  display: table-cell
  vertical-align: middle
  color: #fff
  text-align: center
  text-transform: uppercase

body
  font-family: "Apercu"

.homepage
  @extend %grid
  margin: 0 auto
  @extend %one-whole
  +breakpoint(portable)
    padding-left: 1em
    padding-right: 1em
  +breakpoint(lap)
    width: em(1024px)
  +breakpoint(desk)
    width: 77em
  +breakpoint(giant)
    width: em(1680px)

.mod
  @extend %one-whole
  position: relative
  background-color: rgba(148,150,144, 1)
  +trailing-border(1px)
  padding-bottom: 0
  border-color: #fff
  display: table
  &:nth-child(even)
    background-color: rgba(167,169,162, 1)

.mod__title
  @extend %vertical--center

.mod1__image
  position: absolute
  z-index: 1

.mod1__video
  margin-left: 5em
  margin-right: 5em
  margin-bottom: 2em
  margin-top: 2em

.mod--hidden
  +opacity(0)

.img
  max-width: 100%
  height: auto !important

.fitvid
  height: 100%

.video-overlay
  background: rgba(0,0,0,1)
  z-index: 0

.image-overlay
  +opacity(.5)

.grid
  overflow: hidden
  padding: 0.5em 0 0 0.5em
  max-width: 76em
  margin: 0 auto
  li
    padding: 0 0.5em 0.5em 0
    > div
      background: #808080
      //padding: 7em 2em
      text-align: center
    a
      color: #fff

@media all and (min-width: 27em)
  .grid li
    width: 50%
    float: left

@media all and (min-width: 40em)
  .grid li
    width: 33.3333333%
    &.wide
      width: 66.666666%

@media all and (min-width: 60em)
  .grid li
    width: 20%
    &.wide
      width: 50%
